extends layout
block content
	div.container
		div.jumbotron
			h1= title
			p Welcome to #{title}
		form
			div.panel.panel-default
				div.panel-heading Text Input
				div.panel-body
					div.form-group
						label(for='i1') Env Variable
						input#i1.form-control(type='text', name='environmentVariable', placeholder="Environment Variable" aria-describedby="EnvVar")
					div.form-group
						label(for='i2') Folder
						input#i2.form-control(type='text', name='folder', placeholder="Folder")
			div.panel.panel-default
				div.panel-heading Radios: <span id=rb01></span>
				div.panel-body
					div.btn-group.elves(role="group")
						button.btn.btn-default(type="button") radio01
						button.btn.btn-default(type="button") radio02
						button.btn.btn-default(type="button") radio03
			div.panel.panel-default
				div.panel-heading CheckBoxes <span id=cb01></span> <span id=cb02></span> <span id=cb03></span>
				div.panel-body
					div
						input#checkBox01(type='checkbox', name='check', value='check1' )
						label(for='checkBox01') CheckBox 01
					div
						input#checkBox02(type='checkbox', name='check', value='check2', checked='checked' )
						label(for='checkBox02') CheckBox 02
			div.panel.panel-default
				div.panel-heading Select
				div.panel-body
					select(name='single')
						option Single
						option Single2
				div.panel-body
					select(name='multiple', multiple='multiple')
						option(selected='selected') Multiple
						option Multiple2
						option(selected='selected') Multiple3
			div.panel.panel-default
				div.panel-heading Buttons
				div.panel-body
					p Like this:
					button.btn.btn-primary Bootstrap Primary
					hr
					p Other variations include <strong>btn-success, <strong>btn-warning</strong>, <strong>btn-info</strong>, and <strong>btn-danger</strong>:
					button.btn.btn-success Bootstrap Success
					button.btn.btn-warning Bootstrap Warning
					button.btn.btn-info Bootstrap Info
					button.btn.btn-danger Bootstrap Danger
