
// *************
// Panels
// *************

mixin elfPanel(headingText)
	div.panel.panel-default
		div.panel-heading= headingText
		div.panel-body
			block

// **********
// Radio Buttons
// **********

mixin radioPanel(headingText)
	div.panel.panel-default
		div.panel-heading= headingText
		div.panel-body
			div(role="group", id="btn-group.elves")
				block

mixin elfRadio(labelText, valueId)
	.radio
		label(for=valueId) 
			input(type='radio', name='radio', value=valueId, id=valueId) 
			strong #{labelText}

// **********
// CheckBoxes
// **********

mixin elfCheckBox(labelText, name, value)
	div
		input(type='checkbox', name=name value=value)&attributes(attributes)
		label(for='#{name}') &nbsp; #{labelText}

// **************
// Input Controls
// **************

mixin elfInput
	div.form-group
		label(for='subject') Enter a subject (key) such as javascript
		input#subject.form-control(type='text', placeholder="subject")
